*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/app/src/main/res/values/api.xml
/app/src/main/res/drawable/ic_error_icon.xml
/app/src/main/res/drawable/ic_fan_loader.xml
/app/src/main/res/drawable-xxhdpi/no_image_bubbles.png
/app/src/main/res/drawable/ic_empty_box.xml
